:root {

    /* Colors: */
    ---e46a25: #E46A25;
    --unnamed-color-8a8a8a: #8A8A8A;
    --unnamed-color-c1c8cc: #C1C8CC;
    --unnamed-color-ededed: #EDEDED;
    ---23b1a9: #23B1A9;
    ---1a0dab: #1A0DAB;
    ---b9b9b9: #B9B9B9;
    ---10242b: #10242B;
    ---4c4c4c: #4C4C4C;
    ---d1121b: #D1121B;
    }